h1 {
  color: #2c3e50;
}

.btn {
  background-color: #1abc9c;
  color: white;
}
.form-control {
  border: transparent;
  border-bottom: #1abc9c 1px solid;
}

.form-control:focus {
  background-color: transparent;
  border-bottom: 1px solid #1abc9c;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
}