<section class="pt-5">
  <div
    class="container min-vh-100 d-flex flex-column justify-content-center"
  >
    <h1 class="text-uppercase text-center fw-bolder">contact component</h1>
    <app-decorator></app-decorator>
    <div class="row">
      <div class="col">
        <form class="form">
          <div class="form-floating mb-3">
            <input class="form-control"  id="name" type="text" placeholder="User Name">
            <label for="name">User Name</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="age" type="number" placeholder="User Age">
            <label for="age">User Age</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="email" type="email" placeholder="User Email">          
            <label for="email">User Email</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id= "password" type="password" placeholder="User Password">
            <label for="password">User Password</label>
          </div>




            <button class="btn py-2" type="submit" (click)="onSubmit($event)" #btn>Send Message</button>
        </form>

      </div>

    </div>
  </div>
</section>
