<header>
  <div
    class="container text-center text-white"
  >
    <div class="row min-vh-100">
      <div class="col d-flex justify-content-center align-items-center flex-column">
        <div class="header-img mt-5">
          <img src="/images/avataaars.svg" class="w-100" alt="avatar" />
        </div>
        <div class="header-content">
          <h1 class="text-uppercase mt-3 fw-bolder">start Framework</h1>
          <app-decorator></app-decorator>
          <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
      </div>
    </div>
  </div>
</header>
